<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Yet Another Code Dump - __TITLE__</title>
  <meta charset="utf-8" />
  <meta name="description" content="André Aparício personal website" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="BASEURL(images/favicon.png)" type="image/png" />
</head>
<body>
  <div id="page">
    <div id="header">
      <h1><a id="homepage_link" href="__HOMEPAGE__">Yet Another Code Dump</a></h1>
    </div>
    <div id="content">
